@font-face {
    font-family: 'RichterGrotesk-Bold';
    src: url('../assets/fonts/richtergrotesk-bold.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/richtergrotesk-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/richtergrotesk-bold.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'RichterGrotesk-Light';
    src: url('../assets/fonts/richtergrotesk-light.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/richtergrotesk-light.woff2') format('woff2') /* Super Modern Browsers */
    /*,url('../assets/fonts/richtergrotesk-light.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'RichterGrotesk-Regular';
    src: url('../assets/fonts/richtergrotesk-regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/richtergrotesk-regular.woff') format('woff'),
    url('../assets/fonts/richtergrotesk-regular.woff2') format('woff2') /* Super Modern Browsers */
}

/* reset CSS */
h1, h2, h3, h4, h5, p {
    word-wrap:break-word;
    color: #454544;
    font-family: "RichterGrotesk-Light", sans-serif;
}
h1, h2, h3, h4, h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

b, strong {
    font-family: "RichterGrotesk-Regular", sans-serif;
    font-weight: normal;
}

/*  SECTIONS  */
.section {
    clear: both;
    margin: 0;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
}

.col:first-child {
    margin-left: 0;
}

section.col .inner p:first-of-type {
    -webkit-margin-before: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF FIVE  */
.u-5-5 {
    width: 100%;
}

.u-4-5 {
    width: 80%;
}

.u-3-5 {
    width: 60%;
}

.u-2-5 {
    width: 40%;
}

.u-1-5 {
    width: 18.6%;
}

.u-1-5:first-child, .u-1-5:last-child {
    width: 22.1%;
}

.u-4-5:first-child {
    width: 77.9%;
}

.u-3-5:first-child {
    width: 59.3%;
}

.u-2-5:last-child {
    width: 40.7%;
}

header {
    padding: 72px 66px 20px 66px;
}

header div {
    text-align: right;
}

header .u-1-5.logo {
    width: 20%;
}
header .logo img {
    height: 56px;
    width: 100px;
}

header .mobile-menu svg {
    margin-left:20px;
    display:block;
    height: 30px;
    cursor: pointer;
}

header .mobile-menu {
    display: none;
    position:absolute;
    top: 28px;
    width:100%;
    left:0px;
}

header .mobile-menu svg:hover {
    transition: all 0.2s ease;
}

header .mobile-menu svg:hover {
    cursor: pointer;
    transform: scale(0.9, 1.2);
}

.active nav ul li {
    padding: 16px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    border-bottom: 1px solid #EEE;
    background: rgba(255,255,255,0.9);
}

.active nav ul li:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}

.active nav ul {
    padding: 0;
    position: absolute;
    margin-top: 20px;
    width:100%;
}

nav {
    display: none;
}

.active nav {
    position: absolute;
    display: block;
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 1;
}

section.introduction, section.detail {
    padding: 0 66px 20px 66px;
}

section.introduction p {
    font-size: 20px;
    line-height: 1.3;
    color: #747474;
}

section.detail img {
    width: 100%;
    min-height: inherit;
    height: auto;
}

article.search-result {
    margin-bottom: 20px;
    border-bottom: 1px dashed #454544;
}

div.left-introduction {
    padding-right: 20px;
}

div.right-introduction {
    padding-left: 20px;
}

h2 {
    font-size: 22px;
    line-height: 1.2;
    padding-bottom: 20px;
    font-family: RichterGrotesk-Regular, sans-serif;
}

.content section .inner {
    padding: 62px 10px 0 10px;
}

.content section:first-child .inner {
    padding: 62px 10px 0 66px;
}

.content section:last-child .inner {
    padding: 62px 66px 0 10px;
}


article {
    transition: all 0.25s ease;
}
article > a {
    text-decoration: none;
}

article:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    outline: 10px solid #d6d6d6;
    background-color: #d6d6d6;
}

article > a:visited {
    background-color: #aac0ab;
}

div.image-crop {
    min-height: 180px;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow:hidden;
    position: relative;
}

div.image-crop.bottom {
    align-items: flex-end;
    justify-content: center;
}

div.image-crop.top {
    align-items: flex-start;
    justify-content: center;
}

.image-crop img{
    object-fit: cover;
    min-height: 180px;
    min-width: 320px;

    max-height: 200%;
    max-width: 120%;
}

.content section .inner .image-crop {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content > section > div.image-crop {
    height: 20vh;
    min-height: 180px;

}

.content p {
    font-size: 18px;
    line-height: 1.5;
}

.detail-content {
    padding-left: 20px;
}
.detail-content p:first-child {
    -webkit-margin-before: 0;
}

span.caption {
    font-size: 12px;
    line-height: 1.3;
    color: #747474;
    display: block;
    margin-bottom: 20px;
}

.search {
    height: 28px;
    position: absolute;
    top: 20px;
    left: 66px;
    display: flex;
    display: -webkit-flex;
}

.search svg {
    height: 100%;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}

.search:hover svg path {
    fill: #000;
}

.search input {
    width: 0;
    transition: all 0.2s ease;
    visibility: hidden;
    height: 24px;
    border: none;
    background: #AAA;
    padding: 2px;
    text-align: right;
    color: #ededed;
}

.search.active input {
    width: 200px;
    visibility: visible;
}

.additional-links {
    height: 28px;
    position: absolute;
    top: 20px;
    right: 66px;
    display: flex;
    display: -webkit-flex;
}
.additional-links a {
    font-size: 14px;
    color: #747474;
    text-decoration: none;
    font-family: RichterGrotesk-Light, sans-serif;
}

h3 {
    padding-bottom: 36px;
    font-size: 22px;
    font-family: RichterGrotesk-Regular, sans-serif;
}

h4 {
    font-size: 18px;
    padding-bottom: 10px;
}

section img {
    /*min-width: 100%;*/
    min-height: 100%;
}

@media only screen and (max-width: 600px) {

    .u-5-5, .u-4-5, .u-3-5, .u-2-5, .u-1-5, .u-1-5:last-child, .u-1-5:first-child, .u-3-5:last-child, .u-3-5:first-child, .u-4-5:last-child, .u-4-5:first-child, .u-2-5:last-child, .u-2-5:first-child {
        width: 100%;
    }

    header {
        padding: 20px 20px 20px 20px;
    }

    header .mobile-menu {
        display: block;
    }

    section.introduction, section.detail {
        padding: 0 20px 20px 20px;
    }

    .additional-links {
        display: none;
    }

    .logo {
        position: absolute;
        right: 36px;
    }

    .detail-content {
        padding-left: 0;
    }

    .search {
        display: none;
    }

    h1 {
        margin-top: 60px;
    }

    p.left-introduction {
        padding-right: 0;
    }

    p.right-introduction {
        padding-left: 0;
    }

    .content section .inner {
        padding: 20px 10px 0 10px;
    }

    .content section:first-child .inner {
        padding: 20px 10px 0 20px;
    }

    .content section:last-child .inner {
        padding: 20px 20px 0 10px;
    }

    section, section.col {
        display: none;
    }

    section.active {
        display: block;
    }
}
